kubernetes_vagrant/.vagrant/
kubernetes_vagrant/.idea
kubernetes_vagrant/auth_docker/
ha_kubernetes_ansible/*.log
ha_kubernetes_ansible/.vagrant
kubernetes_ansible/*.log
kubernetes_ansible/.vagrant
ha_kubernetes_ansible/playbook/haproxy-eni.yaml
ha_kubernetes_ansible/calico.yaml