Deployment/kubernetes_vagrant/.vagrant/
Deployment/.idea
Deployment/auth_docker/
Deployment/ha_kubernetes_ansible/*.log
Deployment/ha_kubernetes_ansible/.vagrant
Deployment/kubernetes_ansible/*.log
Deployment/kubernetes_ansible/.vagrant
Deployment/ha_kubernetes_ansible/playbook/haproxy-eni.yaml
Deployment/ha_kubernetes_ansible/calico.yaml